@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "AvenirLTStd";
  src: url("/fonts/AvenirLTStd-Medium.otf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "AvenirLTStd";
  src: url("/fonts/AvenirLTStd-MediumOblique.otf");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "CreamCake";
  src: url("/fonts/CreamCake.ttf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "DINCondensed";
  src: url("/fonts/DINCondensed-Regular.otf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src: url("/fonts/Gilroy-SemiBold.otf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "HelveticaNeue";
  src: url("/fonts/HelveticaNeueLTStd-MdCn.otf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "LeagueGothic";
  src: url("/fonts/LeagueGothic-Regular.otf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Interstate";
  font-style: normal;
  font-weight: normal;
  src: url("/fonts/InterstateRegular.woff") format("woff");
}

@font-face {
  font-family: "InterstateBold";
  font-style: bold;
  font-weight: normal;
  src: url("/fonts/InterstateBold.woff") format("woff");
}

@font-face {
  font-family: "InterstateBlack";
  font-style: bolder;
  font-weight: normal;
  src: url("/fonts/InterstateBlack.woff") format("woff");
}

@font-face {
  font-family: "Garamond";
  font-style: bolder;
  font-weight: normal;
  src: url("/fonts/Garamond.woff") format("woff");
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  font-family: "Interstate", sans-serif;
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.flex-col-center {
  @apply flex flex-col items-center justify-center;
}

.bg-hero {
  @apply bg-[#ea7739] bg-[url(/sand.webp)] bg-[370px_auto] bg-repeat;
}
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
